<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/display.css">
</head>

<body>
  <section id="header">
    <span class="img"><img src="https://zpi.com/wp-content/uploads/2018/06/Zephyr-Horizontal-02.png"></span>
    <h1 class="header">Search for files on Egnyte</h1>
  </section>

  <div class="searchForm">
    <form action="/search" method="POST" id="search">
      <label for="query" class="q-label">Query: </label>
      <input type="text" name="query" id="query" placeholder="'Florida' 'PDF'" />
      <label for="folder">Folder path to search</label>
      <select name="folder" id="folder-select">
        <option value="projects">Projects</option>
        <option value="design-engineering">Design-Engineering</option>
        <option value="restoration & maintenance">Restoration & Maintenance</option>
      </select>
      <button type="submit" class="s-btn">Search</button>
    </form>
  </div>
</body>

</html>