<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
</head>

<body>
  <h1 class="search-results">Search Results</h1>

  <div id="results">
    <table class="results-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Path</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach(result=> { %>
          <tr>
            <th scope="row" id="t-name">
              <%= result.name %>
            </th>
            <th scope="row" id="t-path">
              <%= result.path %>
            </th>
          </tr>
          <%});%>
      </tbody>
    </table>
  </div>
</body>

</html>