<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" href="/css/results.css">
</head>

<body>
  <section id="header">
    <span class="img"><img src="https://zpi.com/wp-content/uploads/2018/06/Zephyr-Horizontal-02.png"></span>
    <h1 class="search-header">Search Results for '<%= query %>'
    </h1>
  </section>

  <section id="search">
    <form action="/search" method="POST" id="search">
      <label for="query" class="q-label">Query: </label>
      <input type="text" name="query" id="query" placeholder="'Florida' 'PDF'" />
      <label for="folder">Folder path to search</label>
      <select name="folder" id="folder-select">
        <option value="Projects">Projects</option>
        <option value="Design-Engineering">Design-Engineering</option>
        <option value="Restoration & Maintenance">Restoration & Maintenance</option>
      </select>
      <button type="submit" class="s-btn">Search</button>
    </form>
  </section>

  <section id="pagination">
    <ul id="page-list">
      <li><a>Previous</a></li>
      <li>1</li>
      <li>2</li>
      <li>next</li>
    </ul>
  </section>

  <div id="results">
    <table class="results-table">
      <thead>
        <tr>
          <th scope="col" class="h-col">Name</th>
          <th scope="col" class="h-col">Path</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(result=> { %>
          <tr>
            <td scope="row" id="t-name" class="row">
              <%= result.name %>
            </td>
            <% const root=result.path.split('/')[2] %>
              <% const r=root %>
                <% const p=result.path.split(r)[1] %>
                  <% let path='' %>
                    <% if (root==='Projects' ) { %>
                      <% path='Y:' + p %>
                        <% } else if (root==='Design-Engineering' ) { %>
                          <% path='R:' + p %>
                            <% } else if (root==='Restortion & Maintenance' ) { %>
                              <% path='K:' + p %>
                                <% }; %>
                                  <td scope="row" id="t-path" class="row">
                                    <%= path %>
                                  </td>
          </tr>
          <%});%>
      </tbody>
    </table>
  </div>
</body>

</html>