<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" href="/css/results.css">
</head>

<body>
  <section id="header">
    <span class="img"><img src="https://zpi.com/wp-content/uploads/2018/06/Zephyr-Horizontal-02.png"></span>
    <h1 class="search-header">
      <p class="query-result">Search Results for '<%= query %>'</p>
    </h1>
    <a href="/" class="back">Back</a>
  </section>

  <div id="results">
    <table class="results-table">
      <thead>
        <tr>
          <th scope="col" class="h-col h-name">Name</th>
          <th scope="col" class="h-col h-path">Path</th>
          <!-- <th scope="col" class="h-col h-upload">Uploaded By</th> -->
        </tr>
      </thead>
      <tbody>
        <% data.forEach(result=> { %>
          <tr>
            <td scope="row" id="t-name" class="row">
              <%= result.name %>
            </td>
            <% const root=result.path.split('/')[2] %>
              <% const r=root %>
                <% let o=result.path.split(r)[1] %>
                  <% let p=o.replace(/\//g, "\\" ) %>
                    <% let path='' %>
                      <% if (root==='Projects' ) { %>
                        <% path='Y:' + p %>
                          <% } else if (root==='Design-Engineering' ) { %>
                            <% path='R:' + p %>
                              <% } else if (root==='Restortion & Maintenance' ) { %>
                                <% path='K:' + p %>
                                  <% }; %>
                                    <td scope="row" id="t-path" class="row">
                                      <%= path %>
                                    </td>

          </tr>
          <%});%>
      </tbody>
    </table>
  </div>
  <%- include('partials/footer') %>
    <script src="/js/copypath.js"></script>
</body>

</html>