<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Account</title>
</head>

<body>
  <h1>Register Account</h1>
  <form action="/register" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <label for="passwordConfirmation">Confirm Password</label>
    <input id="passwordConfirmation" name="passwordConfirmation" type="password" />
    <button type="submit">Register</button>
  </form>

</body>

</html>