body {
  background-color: white;
  color: black;
  height: calc(100vh - 40px);
}

#results {
  padding-top: 30px;
  place-items: center;
}

.h-col {
  border-bottom: 2px solid black;
  /* width: 100%; */
  font-size: larger;
}

.h-name {
  width: 20%;
}

.h-path {
  width: 60%;
}

.h-upload {
  width: 10%;
}

th,
td {
  padding: 5px 2px;
  border-bottom: 1px solid black;
}

table {
  border: 1x solid black;
  border-collapse: collapse;
  table-layout: auto;
}

table thead th {
  border-left: 2px solid black;
  background-color: #5a4099;
  color: whitesmoke;
}

table thead th:first-child {
  border-left: none;
}

table tr:nth-child(even) {
  background: lightgray;
}

td {
  padding-left: 15px;
  border: 1px solid black;
}

#header {
  place-items: center;
}

h1 {
  border-bottom: 2px solid black;
}

footer {
  display: flex;
  position: sticky;
  margin-top: 22px;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  background-color: #5a4099;
  justify-content: center;
  align-items: center;
}

p {
  margin-left: 30px;
  color: whitesmoke;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
}

p.query-result {
  color: black;
}

.back {
  position: relative;
  bottom: 60px;
  left: 20px;
  font-family: "Lucida Console", Monaco, monospace;
}
